<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INTM GROUPE</title>
        <link rel="icon" href="/images/fav.ico">
        <!-- JqueryUI -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/css/boostrap/bootstrap.min.css">
        <!-- Awesome font icons -->
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <!-- Magnific popup-->
        <link rel="stylesheet" type="text/css" href="/css/magnific-popup/magnific-popup.css" media="screen" />
        <!-- Owlcoursel -->
        <link rel="stylesheet" type="text/css" href="/css/owl-coursel/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/css/owl-coursel/owl.theme.css">
        <!-- Main style -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- Padding / Margin -->
        <link rel="stylesheet" type="text/css" href="/css/padd-mr.css">
        <!-- light version-->
        <link id="vers" rel="stylesheet" type="text/css" href="/css/light-version.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <style type="text/css">
        .bs-example, .bs-example1{
            font-family: sans-serif;
            position: relative;
            margin: 50px;
        }
        .typeahead,.typehead1, .tt-query, .tt-hint {
            border: 2px solid #CCCCCC;
            border-radius: 8px;
            font-size: 24px;
            height: 30px;
            line-height: 30px;
            outline: medium none;
            padding: 8px 12px;
            width: 396px;
        }
        .typeahead,.typehead1 {
            background-color: #FFFFFF;
        }
        .typeahead:focus {
            border: 2px solid #0097CF;
        }
        .tt-query {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        .tt-hint {
            color: #999999;
        }
        .tt-dropdown-menu {
            background-color: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            margin-top: 12px;
            padding: 8px 0;
            width: 422px;
        }
        .tt-suggestion {
            font-size: 24px;
            line-height: 24px;
            padding: 3px 20px;
        }
        .tt-suggestion.tt-is-under-cursor {
            background-color: #0097CF;
            color: #FFFFFF;
        }
        .tt-suggestion p {
            margin: 0;
        }
        </style>
        </head>
        <body class="bg-3">
        <!-- Preloader -->
        <div class="preloader">
            <p></p>
        </div>
        <div id="wrap" class="color1-inher">
           <% include partials/navdemandeur.ejs %>
            <!-- Main content -->
            <div id="wrap-body" class="p-t-lg-30">
                <div class="container">
                    <div class="wrap-body-inner">
                        <!-- Breadcrumb-->
                        <div class="hidden-xs">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="ht-breadcrumb pull-left">
                                        <li class="home-act"><a href="#"><i class="fa fa-user fa-fw"></i></a></li>
                                        <li class="active">Offres</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                    
        <% if (players.length > 0) {%>
            <section class="block-cart m-b-lg-50 m-t-lg-30 m-t-xs-0">
                <div class="">
                    <div class="heading">
                        <h3>Offres Disponibles</h3>
                    </div>
                    <div class="display-inline-block width-100">
                        <% players.forEach((player, index) => { %>
                            <div class="row m-lg-0 overl bor-r">
                                <div class="col-sm-4 col-md-4 col-lg-4 cart-item">
                                    <div class="row">
                                        <div class="col-sm-9 col-md-9 col-lg-9 p-lg-0">
                                            <div class="product-name">
                                                    <div class="panel-heading heading-1" role="tab" id="heading1">
                                                            <div class="panel-title">
                                                                <br>
                                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= player.id %>" aria-expanded="true" aria-controls="collapse1"><strong><%= player.titre %></strong></a>
                                                                <br>
                                                                <span class="price"><%= player.type %></span> 
                                                            </div>
                                                        </div>
                                                    <!--<h5><a href="#"><%= player.titre %></a></h5>-->
                                                      
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-2 col-md-2 col-lg-2 cart-item">
                                    <p><%= player.reference %></p>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg1 cart-item">
                                    <p class="color-green"><%= player.etat %></p>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 cart-item">
                                    <p><%= player.nivetude %></p>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1 cart-item" style="padding-top:10px">
                                    <br><br>
                                    <p><strong><u><a href="/detailsoffre/<%= player.id %>"></a>Postuler</a></u></strong></p>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 cart-item">
                                   <!-- <i class="fa fa-remove cart-remove-btn"></i>-->
                                   <br><br>
                                   <p>

                                        <div  role="tab" id="heading1">
                                                <div class="panel-title">
                                                    
                                                    <strong><u>  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= player.id %>" aria-expanded="true" aria-controls="collapse1"><strong>Plus de détails</strong></a>
                                                    </u></strong>      
                                                </div>
                                            </div>
                                   </p>
                                </div>
                                
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                    
                                        <div id="<%= player.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                            <div class="panel-body">
                                                    <div class="panel-group bg-gray-fa bg1-gray-15 p-lg-30 p-xs-15" id="accordion" role="tablist" aria-multiselectable="true">
                                                <p><%= player.description %></p>
                                            </div>
                                        </div>
                                    </div>  
                             </div>
                    <% }) %>
                    
                
        <% } else { %>
            <p class="text-center"> <a href="/add" >Ajouter un Nouveau Profil</a></p>
        <% } %>
    </section>
  
</div></div>
<br/><br/><br/><br/><br/>
    <% include partials/footer.ejs %>
    </div></div></div>

    <!-- jQuery -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- JqueryUI -->
    <script src="/js/jquery/jquery-ui.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!--magnific popup-->
    <script src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Jquery.counterup -->
    <script src="/js/jquery.counterup/waypoints.min.js"></script>
    <script src="/js/jquery.counterup/jquery.counterup.min.js"></script>
    <!-- Owl-coursel -->
    <script src="/js/owl-coursel/owl.carousel.js"></script>
    <!-- Script -->
    <script src="/js/script.js"></script>

</body>
