
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>INTM</title>
        <link rel="icon" href="/images/fav.ico">
        <!-- JqueryUI -->
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/css/boostrap/bootstrap.min.css">
        <!-- Awesome font icons -->
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <!-- Magnific popup-->
        <link rel="stylesheet" type="text/css" href="/css/magnific-popup/magnific-popup.css" media="screen" />
        <!-- Owlcoursel -->
        <link rel="stylesheet" type="text/css" href="/css/owl-coursel/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/css/owl-coursel/owl.theme.css">
        <!-- Main style -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- Padding / Margin -->
        <link rel="stylesheet" type="text/css" href="/css/padd-mr.css">
        <!-- light version-->
        <link id="vers" rel="stylesheet" type="text/css" href="/css/light-version.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body class="bg-3">
<!-- Preloader -->
<div class="preloader">
    <p></p>
</div>
<div id="wrap" class="color1-inher">
        <% include partials/nav.ejs %>
    <!-- Main content -->
    <div id="wrap-body" class="p-t-lg-30">
        <div class="container">
            <div class="wrap-body-inner">
                <!-- Breadcrumb-->
                <div class="hidden-xs">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="ht-breadcrumb pull-left">
                                <li class="home-act"><a href="#"><i class="fa fa-home"></i></a></li>
                                <li class="active">Détails du Profil</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br/><br/>
<div class="container">

    <% if (player) { %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="civilite">Sexe</label>
                    <input type="text" class="form-control" placeholder="Sexe" name="civilite" id="civilite" value="<%= player.civilite %>" required disabled title="Username can't be changed">
                </div>
                <div class="form-group col-md-6">
                    <label for="situation">Etat Civil</label>
                    <input type="text" class="form-control" name="situation" id="situation" placeholder="Etat Civil" value="<%= player.situation %>" disabled required>
                </div>
                <div class="form-group col-md-4">
                    <label for="first-name">Prénom</label>
                    <input type="text" class="form-control" placeholder="Prénom" name="first_name" id="first-name" value="<%= player.firstname %>" required disabled title="Username can't be changed">
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Nom</label>
                    <input type="text" class="form-control" placeholder="Nom" name="last_name" id="last-name" value="<%= player.lastname %>" required disabled title="Username can't be changed">
                </div>
                <div class="form-group col-md-4">
                    <label for="username">Identifiant</label>
                    <input type="text" class="form-control" placeholder="Identifiant" name="username" id="username" value="<%= player.username %>" required disabled title="Username can't be changed">
                </div>
                <div class="form-group col-md-4">
                    <label for="adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="adresse" placeholder="Adresse" value="<%= player.adresse %>" disabled required>
                </div>
            <div class="form-group col-md-4">
                    <label for="posteactuel">Poste Actuel</label>
                    <input type="text" class="form-control" name="posteactuel" id="posteactuel" placeholder="Poste Actuel" value="<%= player.posteactuel %>" disabled required>
                </div>
            <div class="form-group col-md-4">
                    <label for="numtel">Numéro de Téléphone</label>
                    <input type="text" class="form-control" name="numtel" id="numtel" placeholder="Numéro de Téléphone" value="<%= player.numtel %>" disabled required>
                </div>  
            <div class="form-group col-md-4">
                    <label for="renumeration">Rémunération</label>
                    <input type="text" class="form-control" name="renumeration" id="renumeration" placeholder="Rémunéération" value="<%= player.renumeration %>" disabled required>
                </div>
            <div class="form-group col-md-4">
                    <label for="ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="ville" placeholder="Ville" value="<%= player.ville %>" disabled required>
                </div> 
                <div class="form-group col-md-4">
                    <label for="ville">Code Postal</label>
                    <input type="text" class="form-control" name="ville" id="ville" placeholder="Ville" value="<%= player.codepostal %>" disabled required>
                </div> 
            </div>
            
                <div class="form-group col-md-4">
                    <label for="number">Number</label>
                    <input type="number" class="form-control" name="number" id="number" placeholder="Number" value="<%= player.experience %>" required disabled title="Username can't be changed">
                </div>
                <div class="form-group col-md-4">
                    <label for="position">Specialité</label>
                    <select id="position" name="position" class="form-control" required disabled title="Username can't be changed">
                        <option selected><%= player.position %></option>
                        <option>J2EE</option>
                        <option></option>
                        <option>Right Back</option>
                        <option>Left Back</option>
                        <option>Defensive Midfielder</option>
                        <option>Central Midfielder</option>
                        <option>Attacking Midfielder</option>
                        <option>Right Wing Forward</option>
                        <option>Left Wing Forward</option>
                        <option>Striker</option>
                    </select>
                </div>
            
            <input type="hidden" id="idd" value="<%= player.TextPlayer %>">
        </form>
        <div class="col-md-12">
                <label for="player-file"><b>Information du Profil</b></label><br>
        </div>
        <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                     
                        <th scope="col">ID du Commentaire</th>
                        <th style="width:60%" scope="col">Commentaire</th>
                        <th scope="col">Date de Création</th>
                        <th scope="col">Date de Modification</th>
                    </tr>
                </thead>
                <tbody>

    <% for(var i=0; i<(player.comm).length;i++){ %>
        <tr>
        
        
        <td><%=player.comm[i].id %></td>
        <td>
                <input type="text" style="width:60%"  class="form-control" name="commentaire" id="commentaire" value="<%= player.comm[i].comment %>" disabled/>
                
            </td>
        <td><%= player.comm[i].createdAt %> </td>
        <td><%= player.comm[i].updatedAt %></td>
            </tr>
               <% } %>
                </tbody>
                </table>
       <!-- <div class="form-group col-md-4">
            <% for(var i=0; i<(player.comm).length;i++){ %>
              <%= player.comm[i].comment %><br/>
                     <% } %>
                 
            </div>-->
</div>
</div>
<div class="col-md-12">
        <label style="margin-left:10%" for="player-file"><b>Ajouter Information</b></label><br>
</div></div>
    <form method="POST" action="/addText">
    <input type="text" style="resize: horizontal; width: 200px; margin-left:10% " class="form-control" name="textProfil" id="textProfil"/>
    <input type="hidden" id="idProfil" name="idProfil" value="<%= player.id %>"/><br/>
    <button type="submit" style="margin-left:10%" class="btn btn-success ">Ajouter Information</button>
    </form>
    <% } else { %>
        <p class="text-center">Player Not Found. Go <a href="/add">here</a> to add players.</p>
    <% } %>
    <br/><br/><br/><br/><br/>
    <% include partials/footer.ejs %>
</div></div>
 <!-- jQuery -->
 <script src="/js/jquery/jquery-2.2.4.min.js"></script>
 <!-- JqueryUI -->
 <script src="/js/jquery/jquery-ui.js"></script>
 <!-- Bootstrap -->
 <script src="/js/bootstrap/bootstrap.min.js"></script>
 <!--magnific popup-->
 <script src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>
 <!-- Jquery.counterup -->
 <script src="/js/jquery.counterup/waypoints.min.js"></script>
 <script src="/js/jquery.counterup/jquery.counterup.min.js"></script>
 <!-- Owl-coursel -->
 <script src="/js/owl-coursel/owl.carousel.js"></script>
 <!-- Script -->
 <script src="/js/script.js"></script>
    
</body>
</html>