<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INTM GROUPE</title>
    <link rel="icon" href="/images/fav.ico">
    <!-- JqueryUI -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="./css/boostrap/bootstrap.min.css">
    <!-- Awesome font icons -->
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
    <!-- Magnific popup-->
    <link rel="stylesheet" type="text/css" href="./css/magnific-popup/magnific-popup.css" media="screen" />
    <!-- Owlcoursel -->
    <link rel="stylesheet" type="text/css" href="./css/owl-coursel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="./css/owl-coursel/owl.theme.css">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- Padding / Margin -->
    <link rel="stylesheet" type="text/css" href="css/padd-mr.css">
    <!-- light version-->
    <link id="vers" rel="stylesheet" type="text/css" href="css/light-version.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<style type="text/css">
    .bs-example, .bs-example1{
        font-family: sans-serif;
        position: relative;
        margin: 50px;
    }
    .typeahead,.typehead1, .tt-query, .tt-hint {
        border: 2px solid #CCCCCC;
        border-radius: 8px;
        font-size: 24px;
        height: 30px;
        line-height: 30px;
        outline: medium none;
        padding: 8px 12px;
        width: 396px;
    }
    .typeahead,.typehead1 {
        background-color: #FFFFFF;
    }
    .typeahead:focus {
        border: 2px solid #0097CF;
    }
    .tt-query {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
    .tt-hint {
        color: #999999;
    }
    .tt-dropdown-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
        padding: 8px 0;
        width: 422px;
    }
    .tt-suggestion {
        font-size: 24px;
        line-height: 24px;
        padding: 3px 20px;
    }
    .tt-suggestion.tt-is-under-cursor {
        background-color: #0097CF;
        color: #FFFFFF;
    }
    .tt-suggestion p {
        margin: 0;
    }
    </style>
    </head>
    <body class="bg-3">
    <!-- Preloader -->
    <div class="preloader">
        <p></p>
    </div>
    <div id="wrap" class="color1-inher">
       <% include partials/navadmin.ejs %>
		<!-- Main content -->
		<div id="wrap-body" class="p-t-lg-30">
			<div class="container">
				<div class="wrap-body-inner">
					<!-- Breadcrumb-->
					<div class="hidden-xs">
						<div class="row">
							<div class="col-lg-6">
								<ul class="ht-breadcrumb pull-left">
									<li class="home-act"><a href="#"><i class="fa fa-user fa-fw"></i></a></li>
									<li class="active">Recruteurs</li>
								</ul>
							</div>
						</div>
                    </div>
                    <br/><br/>
    
                    
        <% if (players.length > 0) {%>
            <div class="table-wrapper"></div>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <!--<th scope="col">ID</th>-->
                       
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Numéro de téléphone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Identifiant</th>
                        <th scope="col">Créer</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                       <!-- <div class="bs-example">
                                <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="">
                                 </div>-->
                               <!--  <div class="bs-example1"> 
                                <form action="searchy" method="GET">      
                                 <input type="text" name="typeahead1" id="typeahead1" class="typeahead1 tt-query" autocomplete="off" spellcheck="false" placeholder="">
                                 <br><br> &nbsp;<input type="submit" value="Search" id="button"/>
                               </form>
                                </div>-->
                        <% players.forEach((player, index) => { %>
                        <tr>
                    
                            
                            <td><a href="/detailss/<%= player.id %>"><%= player.nom %> </a></td>
                            <td><a href="/detailss/<%= player.id %>"><%= player.prenom %></a></td>
                            <td><%= player.numtel %></td>
                            <td><%= player.email %></td>
                            <td><%= player.username %></td>
                            <td><%= moment(player.createdAt).format('Do MMMM, YYYY') %>-<%= moment(player.createdAt).format("HH:mm") %></td>
                           
                          
                            <td>
                                <a href="/edit/<%= player.id %>" class="btn btn-sm btn-success">Modifier</a>
                                <a href="/delete/<%= player.id %>" onclick="return confirm('Voulez-vous vraiment supprimer ce profil?');" class="btn btn-sm btn-danger">Supprimer</a>
                            </td>
                            <!--target="_blank" rel="noopener"-->
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center"> <a href="/add" >Ajouter un Nouveau Profil</a></p>
        <% } %>
    </div>
</div></div>
<br/><br/><br/><br/><br/>
    <% include partials/footer.ejs %>
    </div></div></div>

	<!-- jQuery -->
	<script src="js/jquery/jquery-2.2.4.min.js"></script>
	<!-- JqueryUI -->
	<script src="js/jquery/jquery-ui.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<!--magnific popup-->
	<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
	<!-- Jquery.counterup -->
	<script src="js/jquery.counterup/waypoints.min.js"></script>
	<script src="js/jquery.counterup/jquery.counterup.min.js"></script>
	<!-- Owl-coursel -->
	<script src="js/owl-coursel/owl.carousel.js"></script>
	<!-- Script -->
	<script src="js/script.js"></script>

</body>
